{
    "presets": [
      "@babel/env",
      "@babel/preset-typescript",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-transform-class-properties",
      "@babel/plugin-transform-arrow-functions"
    ]
  }