.keyboard {
    text-align: center;
    margin-top: 5px;
}

.keyboard button {
    font-size: 32px;
    margin-top: 0.25em;
    margin-right: 0.25em;
    padding: 0.75em;
}

.keyboard-filter {
    margin-bottom: 10px;
}