.keyboard {
    text-align: center;
}

.keyboard button {
    margin-top: 5px;
    margin-right: 5px;
}

.keyboard .btn-toolbar .btn-group {
    margin-top: 10px;
}

.keyboard .btn-toolbar .btn-group .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}