.multi-select label {
    display: block;
}

.multi-select .dropdown {
    display: none;
    /* Same as border for form-select class */
    border-right: 1px solid rgb(222, 226, 230);
    border-left: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.multi-select.on {
    .select-label {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .dropdown {
        display: block;
    }
}

.multi-select .checkbox-list {
    max-height: 325px;
    overflow-y: scroll;
}

.multi-select .checkbox-list {
    /* Same as padding for form-select class */
    padding: .375rem 2.25rem .375rem .75rem;
}

.multi-select .reset-container {
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 25px;
    /* Same as padding-top for form-select class */
    padding-top: .375rem;
}

.multi-select .reset-container a {
    text-decoration: none;
}

.multi-select .reset-container a:hover {
    text-decoration: underline;
}

.multi-select .checkbox-list h6 {
    margin-bottom: 5px;
}

.multi-select .checkbox-list .first-section-header {
    margin-top: 5px;
}

.multi-select .checkbox-list .subsequent-section-header {
    margin-top: 15px;
}