.keyboard {
    width: fit-content;
    margin-bottom: 10px;
}

.keyboard .keyboard-row {
    text-align: center;
}

.keyboard .keyboard-row:not(:first-child) {
    margin-top: 5px;
}

.keyboard-row button:not(:first-child) {
    margin-left: 5px;
}